@media (min-width: 768px) {
  .modal-dialog {
    width: 50%;
    margin: 30px auto;
  }

  .modal-70 {
    width: 70%;
    margin: 30px auto;
  }

  .modal-90 {
    width: 90%;
    margin: 30px auto;
  }
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

textarea {
  resize: vertical;
}

.modal {
  overflow-y: auto;
}